nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
body{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-primary{
    color: rgb(248, 42, 6);
}
.btn-primary{
    background: orangered;
    border-radius: 5px;
    border: 0px;
    color: white;
    padding: 5px 6px;
}
nav > ul{
    display: flex; 
    align-items: center;
    margin: 0 200px;
    

}
.nav-title{
    color: black;
    font-size: 45px;
    margin-right: 50px;
    padding-left: 200px;
}
nav li {
    list-style: none;
    margin-right: 50px;
} 
nav a{
    text-decoration: none;
}
/* .hover.hover{
    color: gray;
} */
/* header releted style */
.header{
    background-color: azure;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-pic{
      width: 500px;  
}
.banner-content{
    max-width: 500px;
}
.h3{
    font-size: 45px;
    color: gray;
    margin-bottom: 0px;
}
.h1{
    font-size: 85px;
    margin-top: 5px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section syle */
.about{
    padding: 130px;
    border-radius: 10px;
    background: rgb(211, 206, 206);
    margin: 130px 0;
}
.section-title{
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    color: rgb(12, 12, 12);
}
.section-description{
    font-size: 18px;
    text-align: center;
    color: rgb(44, 41, 41);
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}